# Problem 1
Bir YetGenli yeni aldığı bahçesinin etrafına çit çevirmek istiyor. Bahçenin etrafını çit ile çevirmek için gerekli çit uzunluğunu ve bahçenin alanını hesaplayan fonksiyonu yazınız.

In [24]:
# 1.Problemin Çözümünü Buraya Y
def çit(x,y,z = "çituzunluğu"):
    çevre = 2*(x+y)
    alan = x*y
    print("bahçenin alanı : ", alan , "metrekaredir")
    print("bahçenin çevresi : " , çevre, "metredir")
çit(20,50,10)

bahçenin alanı :  1000 metrekaredir
bahçenin çevresi :  140 metredir

# Problem 2
Kendisine gönderilen 2 sayı arasındaki tüm asal sayıları bulan fonksiyonu yazınız.

In [16]:
# 2.Problemin Çözümünü Buraya Yazınız

def asalbul (sayı1 , sayı2):
    asallar = []
    for sayı in range(sayı1 , sayı2+1):
        if (sayı>1) and (sayı2>sayı>sayı1):
            for i in range(2, sayı):
                if sayı % i == 0 :
                    break
            else:
                asallar.append(sayı)         
    return(asallar)

asalbul(10,20)

[11, 13, 17, 19]

# Problem 3
YetGen liderlerinin kurdukları girişim unicorn oluyor. YetGen liderleri iş arkadaşlarının alacağı ücretlerini hesaplamak için bir fonksiyon yazdılar. Bu fonksiyonu kullanarak, YetGen liderlerinin iş arkadaşlarına verecekleri ücretleri hesaplayınız.

Ücret hesaplanması çalışma saatine bağlıdır. Bunun için kullanıcıdan çalışma saati bilgisinn alın. Sonrasında yapılacak ödemenin hesaplanacağı computePay() adlı bir fonksiyon oluşturun. Bu fonksiyonun içinde işlemler yapın. Çalışma saati 40 ve altındaysa saat başına ücret 10 TL’dir. 40 saatin üstünde çalışıldıysa saat başına ücret 15 TL sayılmaktadır.

```
Test etmek için 30 saat değerini giriniz,  sonuç 300 TL çıkmalı, 
ikincil test olarak 50 değerini giriniz,  sonuç 750 TL çıkmalı.
```

In [28]:
# 3.Problemin Çözümünü Buraya Yazınız

def computePay(saat):
    if saat > 40:
        ücret = saat*15
    elif saat <= 40:
        ücret = saat*10
    return(ücret)
print(computePay(30))
print(computePay(50))

300
750

# Problem 4
YetGenliler zirveye gitmek için toplanıyor. Zirveye gitmek için kiraladıkları araçlar 4'er kişiliktir. Gelecek kişi sayısı için Airtable üzerinde form açılıyor. Gelecek kişi sayısını alıp dört kişilik araçlara bölüp kalan kişi sayısını döndüren bir fonksiyon yazınız.

In [38]:
# 4.Problemin Çözümünü Buraya Yazınız
def dörder(x):
    y = x % 4
    return(y)
dörder(15)

3

# Problem 5
sayiTopla() adında bir fonksiyon yazın. sayiTopla() fonksiyonu girilen sayıları toplayarak yazdırmasını sağlayan bir fonksiyon yazınız.

Örneğin sayiTopla(1,2,3,4,5) yazdığımızda 15 çıktısını almalıyız. sayiTopla(1,2,3,4,5,6,7,8,9,10) yazdığımızda 55 çıktısını almalıyız.

In [43]:
# 5.Problemin Çözümünü Buraya Yazınız

def sayiTopla(*x):
    sum = 0
    for i in x:
        sum += i
    return(sum)
sayiTopla(1,2,3,4,5)

15

# Problem 6

[("xxx",1),("xxx",2),("xxx",9),("xxx",3), ("xxx",1),("xxx",13),("xxx",26),("xxx",4)] listesi içerisinde verilen elemanların her birini tuple içindeki 2. Elemana göre sıralayınız.

In [54]:
# 6.Problemin Çözümünü Buraya Yazınız

def ikinci(x):
    for list in x:
        print(list[1])
ikinci([("xxx",1),("xxx",2),("xxx",9),("xxx",3), ("xxx",1),("xxx",13),("xxx",26),("xxx",4)])

1
2
9
3
1
13
26
4

# Problem 7
List comprehension kullanarak 1'den 100'e kadar olan sayılardan sadece çift sayıları bir listeye atmayı yapmayı çalışın.

In [60]:
# 7.Problemin Çözümünü Buraya Yazınız
liste = [ i for i in range(1,101) if i % 2 == 0] 
print(liste)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]